{{#if this.disallow}}
  <div class="orbat-empty">
    {{i18n "admin.site_settings.only_admins"}}
  </div>
{{else}}
  <div class="orbat-admin">
    <header class="orbat-banner">
      <div class="orbat-banner__text">
        <h1 class="orbat-banner__title">
          {{i18n "orbat_admin.title"}}
        </h1>
        <p class="orbat-banner__subtitle">
          {{i18n "orbat_admin.description"}}
        </p>
      </div>
    </header>

    <div class="orbat-admin__settings">
      <label class="orbat-setting">
        <span class="orbat-setting__label">
          {{i18n "orbat_admin.settings.enabled"}}
        </span>
        <Input
          @type="checkbox"
          @checked={{this.orbatEnabled}}
          @disabled={{this.updatingEnabled}}
          {{on "change" this.updateOrbatEnabled}}
        />
      </label>
      <label class="orbat-setting">
        <span class="orbat-setting__label">
          {{i18n "orbat_admin.settings.admin_only"}}
        </span>
        <Input
          @type="checkbox"
          @checked={{this.orbatAdminOnly}}
          @disabled={{this.adminOnlyDisabled}}
          {{on "change" this.updateOrbatAdminOnly}}
        />
      </label>
    </div>

    <div class="orbat-admin__layout">
      <section class="orbat-admin__editor">
        {{#if this.isLoaded}}
          <Form
            @data={{this.data}}
            @onSubmit={{this.save}}
            @onRegisterApi={{this.registerFormApi}}
            @validate={{this.validateDraft}}
            as |form|
          >
            <form.Container
              @title={{i18n "orbat_admin.editor.heading"}}
              @subtitle={{i18n "orbat_admin.editor.instructions"}}
            >
              <form.Field
                @name="configuration"
                @title={{i18n "orbat_admin.editor.heading"}}
                @description={{i18n "orbat_admin.editor.help"}}
                as |field|
              >
                <field.Code @lang="javascript" @height={{420}} />
              </form.Field>
            </form.Container>

            <form.Actions>
              <form.Submit @label="orbat_admin.actions.save" />
              <form.Button
                @label="orbat_admin.actions.preview_orbat"
                @type="button"
                class="btn-secondary"
                @action={{this.generatePreview}}
              />
              <form.Button
                @label="orbat_admin.actions.restore_default"
                @type="button"
                class="btn-danger"
                @action={{this.restoreDefault}}
              />
            </form.Actions>
          </Form>

          {{#if this.notice}}
            <div class="alert alert-info">
              {{this.notice}}
            </div>
          {{/if}}
        {{else}}
          <ConditionalLoadingSpinner @size="medium" />
        {{/if}}
      </section>

      <section class="orbat-admin__preview">
        <h2 class="orbat-admin__preview-heading">
          {{i18n "orbat_admin.preview.heading"}}
        </h2>
        {{#if this.isLoaded}}
          {{#if (eq this.previewState "loading")}}
            <ConditionalLoadingSpinner @size="medium" />
          {{else if this.tree}}
            <OrbatTree @tree={{this.tree}} />
          {{else}}
            <p class="orbat-admin__indicator">
              {{i18n "orbat_admin.preview.unavailable"}}
            </p>
          {{/if}}
        {{else}}
          <ConditionalLoadingSpinner @size="medium" />
        {{/if}}
      </section>
    </div>
  </div>
{{/if}}
