{{! template-lint-disable require-strict-mode}}
<div class="orbat-page">
  <div class="orbat-page__toolbar">
    <a
      href={{this.backHref}}
      class="orbat-page__back"
      {{on "click" this.goBack}}
    >
      {{d-icon "chevron-left"}}
      <span>{{i18n "orbat.page.back"}}</span>
    </a>
  </div>

  {{#if this.tree.title}}
    <h1 class="orbat-page__heading">
      {{this.tree.title}}
    </h1>
  {{/if}}
  {{#if this.tree.subtitle}}
    <p class="orbat-banner__subtitle">
      {{this.tree.subtitle}}
    </p>
  {{/if}}

  {{#if this.hasErrors}}
    <section class="orbat-alert">
      <h2 class="orbat-alert__title">
        {{i18n "orbat.page.errors_title"}}
      </h2>
      <ul class="orbat-alert__list">
        {{#each this.errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{#if this.hasNodes}}
    <div class={{this.rootClassNames}} style={{this.rootStyle}}>
      {{#each this.nodes as |node|}}
        <OrbatNode @node={{node}} @display={{this.display}} />
      {{/each}}
    </div>
  {{else}}
    <div class="orbat-empty">
      {{i18n "orbat.page.no_data"}}
    </div>
  {{/if}}
</div>
